/* @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600;700&display=swap'); */
@font-face {
  font-family: "Comfortaa";
  src:
    url("../assets/fonts/Comfortaa-Bold.ttf") format('truetype');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Comfortaa";
  src:
    url("../assets/fonts/Comfortaa-Regular.ttf") format('truetype');
  font-style: normal;
  font-weight: 500;
} 

@font-face {
  font-family: "Comfortaa";
  src:
    url("../assets/fonts/Comfortaa-Light.ttf") format('truetype');
  font-style: normal;
  font-weight: 300;
}


html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
}
