/* * {
  box-sizing: border-box;
} */

/* html {
  min-height: 100%;
  overflow: hidden;
  overflow-y: auto;
}

body {
  background-color: #fcf2f2;
  min-height: 100%;
  font-style: normal;
  font-weight: 300;
  overflow: hidden;
  overflow-y: auto;
  font-family: "proxima-nova", sans-serif;
} */

html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
