.contribution-section {
    background-color: #fefcff;
    width: 100%;
    min-height: 80vh;
}

.contribution-section .contribution-container {
    padding: 1rem 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;

    align-items: center;
    justify-content: center;
    width: 100%;
}

.contribution-section .contribution-section-image {
    box-sizing: border-box;
    flex: 1.2;
    width: 100%;
}

.contribution-section .contribution-section-image img {
    width: 100%;
    height: auto;
}

.contribution-section .contribution-container-inner {
    text-align: center;
    padding: 3.125rem 1rem;
    width: 40rem;
    background-color: #fefcff;

    margin: 0 auto;
    box-sizing: border-box;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
}

.contribution-section .contribution-container-title {
    text-align: center;
    color: #353748;
    padding: 20px;
}

.contribution-section .contribution-container-title img {
    height: 28px;
    padding-left: 4px;
}

.contribution-section .contribution-container-title p {
    font-family: 'Comfortaa', sans-serif;
    font-size: 2em;
    line-height: 1.5;
    font-weight: 700;
    margin: 0;
}

.contribution-section .contribution-container-text {
    padding: 0 2rem;
    color: #1F1F1F;
    font-family: 'Dejavu Sans', sans-serif;
    font-size: 1em;
    line-height: 1.5;
    font-weight: 400;
}

.contribution-section .contribution-container-button {
    text-align: center;
    margin-top: 3rem;
}

.contribution-section .contribution-container-button button {
    background-color: #3EBD8F; 
    color: #FFFFFF;
    width: auto;
    height: 2.5rem;
    line-height: 2.5rem;
    vertical-align: middle;
    padding: 0 1.25rem;
    font-size: 1em;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 600; 
    border-radius: 1.5rem;
    border: none;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
}

.contribution-section .contribution-container-button button:hover {
    opacity: 0.7;
    border: none;
    cursor: pointer;
    text-decoration: none;
    outline: none;
}


@media screen and (max-width: 900px) { 

    .contribution-section .contribution-container {
        flex-direction: column-reverse;
    }

}