.info-section {
    background-color: #E37151;

    width: 100%;
    min-height: 100vh;
    height: auto;
    /* max-width: 1200px; */
    /* height: 100%; */
    /* text-align: center; */
    z-index: 1;
}

.info-section .info-title {
    text-align: center;
    font-size: 24px;
    line-height: 27px;
    font-weight: 700;
    color: #ffffff;
    text-shadow: 0 1px 4px rgba(0,0,0,0.25);

    padding-top: 20px;
}

.info-section .info-title p {
    margin: 0;
}