.loading-section {
  background-color: #7f83db;

  min-height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;

  text-align: center;
}

.loading-section .logo {
  color: #FFFFFF;
  font-family: 'Comfortaa', cursive;
  font-size: 5em;
  line-height: 1.5;
  font-weight: 700;
  padding-top: 2em;
  box-sizing: border-box;
}

.loading-section .spinner {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 680px;
  margin-top: 20vh;
}

.loading-section .loading-message {
  padding-top: 2em;
  line-height: 1.4;
  font-size: 1.2em;
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  box-sizing: border-box;
  padding-left: 2%;
  padding-right: 2%;
}

.loading-section .loading-message span {
  color: rgba(255,255,255,.70);
}

.loading-section .loading-message .webpage {
  color: rgba(255,255,255,.70);
  font-size: .9em;
  font-weight: 400;
  font-style: italic;
  word-wrap: break-word;
  white-space: initial;
}

@media screen and (max-height: 570px) {
  .loading-section .logo {
      padding-top: 1em;
  }
} 

@media screen and (max-height: 480px) {
  .loading-section .logo {
      padding-top: .2em;
  }
} 